.image-box {
  height: 532px;
  overflow: hidden;

  @media (max-width: 1536px) {
    height: 420px;
  }

  @media (max-width: 1024px) {
    height: 600px;
  }

  @media (min-width: 1024px) {
    &:hover {
      background-color: transparent;

      > .image-container {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
      }

      > .title {
        top: 46%;
        transform: translateY(-50%);

        &.two-lines {
          top: 43%;
        }

        @media (max-width: 1536px) {
          top: 42%;

          &.two-lines {
            top: 39%;
          }
        }
      }

      > .text {
        display: none;
      }

      > .link {
        bottom: 40%;
        transform: translateY(-50%);
      }
    }
  }

  > .image-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0s linear 0.6s;

    > img {
      display: block;
      width: 100%;
      height: 532px;

      @media (max-width: 1536px) {
        //width: 400px;
        height: auto;
      }
    }

  }

  > .title {
    top: 1rem;
    left: 1rem;
    transition: all 600ms;

    @media (min-width: 1536px) {
      top: 1.25rem;
      left: 1.25rem;
    }
  }

  > .text {
    top: 4rem;
    left: 1rem;

    @media (min-width: 1536px) {
      top: 5rem;
      left: 1.25rem;
    }

    &.top-7\.5 {
      top: 7.5rem;
    }
  }

  > .link {
    left: 1rem;
    bottom: 1rem;
    transition: all 600ms;

    @media (min-width: 1536px) {
      left: 1.25rem;
      bottom: 1.25rem;
    }


    @media (max-width: 1023px) {
      bottom: 3rem;
    }
  }
}
